html{
    font-size: 14px;
}

.vh-100 {
    height: 100vh;
}

.text-orange{
    color: #ff9e59 !important;
}

.text-blue{
    color: #408cff !important;
}

.bg-danger-50{
    background-color: #ff808280 !important;
}

.bg-success-50{
    background-color: #3daf7a80 !important;
}

.bg-blue-gradient{
    background: linear-gradient(to left, #50ACC7, #10586E);
}

.nav-link:hover {
    color: #ff792b !important;
}

.h-96 {
    height: 24rem !important;
}